.Home {
  overflow: hidden;
}

.modal-lg {
  max-width: 90%;
  max-height: 90%;
}

.modal-lg:hover {
  cursor: zoom-out;
}

.modal-content {
  background-color: transparent;
  border-width: 0;
}

.image {
  overflow: hidden;
}

img {
  width: 100%
}
